<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <table width="100%" style="text-align: center;">
                <tr>
                    <td width="300px">
                        <h2 style="background-color: #03A9F4; color: #ffffff; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); font-family: 'Helvetica';">
                            Witaj {{ firstname }},
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-family: 'Helvetica';">Dokonaliśmy pomyślnej rejestracji w naszym serwisie, <br> Niebawem otrzymasz potwierdzenie aktywacji twojego konta.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-family: 'Helvetica';">Pozdrawiamy,</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-family:'Helvetica'; margin-top: 5px;">
                            <span style="background-color: #03A9F4; color: #fff; padding: 10px; border-radius: 4px;">{{company}}</span>
                        </p>
                    </td>
                </tr>
            </table>
        {% endblock %}
    </body>
</html>
